@import './00variables';

.top-nav {
  background: $header-color;
  color: #fff;
  height: 5rem;
  display: flex;
  font-family: 'Cabin', sans-serif;
  justify-content: center;
  width: 100%;
  // overflow: hidden;
  position: relative;
}

.top-nav-container {
  display: flex;
  align-items: center;
}

.top-nav-logo-wrapper {
  float: left;
  color: #f2f2f2;
  text-align: center;
  // padding-top: 10px;
  // font-size: 300%;
  // font-weight: 600;
  vertical-align: top;
  width: 17%;
  max-width: 300px;
  align-items: center;
}

.top-nav-transition-container {
  display: flex;
  justify-content: space-between;
  // align-content: space-between;
  // border: 1px solid;
  width: 83%;
}


.top-nav-links-container {
  display: flex;
  // justify-content: space-evenly;
  width: 31%;
  align-items: center;
  align-content: flex-start;
  // border: 1px red solid;
  
}

.top-nav-search-wrapper {
  width: 40%;
}


.top-nav-search {
  font-size: 16px;
}

.top-nav-search:hover {
  color: $font-hover;
}

.top-nav-browse-wrapper {
  padding-left: 20px;
}

.top-nav-browse:hover {
  color: $font-hover;
}

.top-nav-browse {
 
}

.top-nav-create-wrapper {
  padding-left: 10px;
}

.top-nav-create:hover {
  color: $font-hover;
}

.top-nav-user-container {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: 30%;
}

.top-nav-signup-wrapper {
  display: flex;
  justify-content: left;
}


.top-nav-signup {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.top-nav-signup:hover {
  color: $button-hover;
}


.top-nav-logout-wrapper {
  display: flex;
  justify-content: left;
}

.top-nav-logout {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.top-nav-logout:hover {
  color: $font-hover;
}

.top-nav-login-wrapper {
  padding-left: 0px;
  width: 140px;
  height: 42px;
  // display: flex;
  // justify-content: center;
  // width: 10%
  
}

.top-nav-login {
  // padding-left: 5px;
  // padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $button;
  border-radius: 3px;
  width: 100%;
  text-align: center;
}

.top-nav-login:hover {
  background-color: $font-hover;
  color: white;
  // background: linear-gradient(170deg, #abf9f3, #fb9ef7);
  // background-size: 400% 400%;

  // -webkit-animation: colormation 1s ease infinite;
  // -moz-animation: colormation 1s ease infinite;
  // -o-animation: colormation 1s ease infinite;
  // animation: colormation 1s ease infinite;
  // color: $font-dark;
}

.top-nav-dropdown {
  position: absolute;
  top: 100%;
  left: 67%;
  background-color: white;
  color: $font-dark;
  filter: drop-shadow(rgba(0,0,0,.2) 0 .125rem .625rem);
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 2;
}

.top-nav-dropdown-item {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
}

.top-nav-dropdown-item:hover {
  background: linear-gradient(170deg, #abf9f3, #fb9ef7);
  background-size: 400% 400%;

  -webkit-animation: colormation 1s ease infinite;
  -moz-animation: colormation 1s ease infinite;
  -o-animation: colormation 1s ease infinite;
  animation: colormation 1s ease infinite;
  
}

.hide {
  display: none;

}

.show {
  display: block;
  
}

.top-nav-vertical-divide {
  height: 1.5rem;
  border-left: 1px solid white;
  width: 1px;
  opacity: 0.3;
}



//TESTING THIS OUT
// CREDITS TO THIS GUY: https://stackoverflow.com/questions/54702124/rainbow-text-animation-using-only-css
#shadowBox {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/opacity/see-through */
  border: 3px solid;
}

.rainbow {
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
  font-family: monospace;
  letter-spacing: 5px;
}
.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}