@import './00variables';

.side-nav {
    width: 17rem;
    display: flex;
    position: absolute;
    filter: drop-shadow(rgba(0,0,0,.2) 0 .125rem .625rem);
    height: 100%;
}

.side-nav-container {
    display: flex;
    flex-direction: column;
    background: white;
    padding-top: 20px;
    // height: 100%
}

.side-nav-item-link-container {
    background-color: white;
    height: 52px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}

.side-nav-item-link-container:hover {
    background: linear-gradient(170deg, #abf9f3, #fb9ef7);
    background-size: 400% 400%;
  
    -webkit-animation: colormation 1s ease infinite;
    -moz-animation: colormation 1s ease infinite;
    -o-animation: colormation 1s ease infinite;
    animation: colormation 1s ease infinite;
}

.side-nav-item-link-icon {
    align-self: center;
    width: auto;
    margin-right: 1rem;
    margin-left: 1rem;

}


.side-nav-divider {
    width: 100%;
    border-bottom: 0.5px solid lightgray;
    opacity: 0.4;
    background-color: white;
}

//Small Folders
.side-nav-folder-link-container {
    background-color: white;
    height: 30px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
}

.side-nav-folder-link-container:hover {
    background: linear-gradient(170deg, #abf9f3, #fb9ef7);
    background-size: 400% 400%;
  
    -webkit-animation: colormation 1s ease infinite;
    -moz-animation: colormation 1s ease infinite;
    -o-animation: colormation 1s ease infinite;
    animation: colormation 1s ease infinite;
}

.side-nav-folder-link-title {
    width: auto;
    margin-left: 3rem;
}

//Create Folders
.side-nav-create-link-container {
    background-color: white;
    height: 30px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    font-size: 0.9rem;
    color: $button;
}

.side-nav-create-link-container:hover {
    color: $button-hover;
}

.side-nav-create-link-title {
    width: auto;
}

.side-nav-create-link-icon {
    align-self: center;
    width: auto;
    margin-right: 1rem;
    margin-left: 3rem;
}

//Small Folders
.side-nav-footer-link-container {
    background-color: white;
    height: 30px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 500;
    color: $button;
}

.side-nav-footer-link-container:hover {
    color: $button-hover;
}

.side-nav-footer-link-title {
    width: auto;
    margin-left: 1rem;
}

//Contact Links
.side-nav-contact-container {
    background-color: white;
    height: 30px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 500;
    width: 120px;
    padding-right: 56%;
}

.side-nav-contact-container > a > .fab, .far{
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.infinite-scroll {
    height: fit-content;
}