@import './00variables';

.flashcard-show-container {
    hr {
        width: 814px;
        opacity: 0.5;
    }
}

.flashcard-show-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.flashcard-show {
    height: 435px;
    width: 814px;
    padding: 40px;
    overflow: auto;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.flashcard-show-title {
    display: block;
    font-size: 1.875rem;
    margin-bottom: 40px;
}

.flashcard-show-dashboard {
    display: flex;
    flex-direction: row;
}

.flashcard-show-dashboard-menu {
    width: 20%;
    height: 320px;
    display: flex;
    flex-direction: column;
    span {
        text-transform: uppercase;
        color: $font-label;
        font-size: 12px;
    }
}

.flashcard-show-dashboard-menu-item {
    padding: 8px 10px;
    font-size: 14px;
    border-bottom: 3px solid transparent;
    &:hover {
        border-bottom: 3px solid $font-hover;
        color: $font-hover;
    }
}

.flashcard-show-dashboard-display {
    display: flex;
    flex-direction: column;
}


.flashcard-profile {
    width: 814px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    .flashcard-profile-user {
        font-size: 2rem;
        width: 200px;
        // display: flex;
        // justify-content: flex-start;
        // align-items: center;
        width: auto;
        .flashcard-profile-user-icon {
            margin: 0;
            width: 0;
        }
        .flashcard-profile-user-name {
            width: auto;
            margin: 0;
        }
    }
    .flashcard-profile-customization {
        width: auto;
    }
}