// @import './00variables';

.latest-container {
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    width: 728px;
    padding: 40px;
    // background-color: blue;
    height: 400px;
}

.latest-header {
    display: flex;
    height: 26px;
    align-items: center;
    // background-color: red;
}

.latest-header-label {
    font-size: 18px;
    text-transform: uppercase;
}

.latest-header-viewall {
    font-size: 14px;
    width: 100px;
    margin-right: 50px;
    color: $button;
}

.latest-header-viewall:hover {
    color: $button-hover;
}
// .latest-body {
//     background-color: purple;
//     height: 100%;
//     margin-top: 20px;
// }

.latest-body-decks {
    flex-wrap: wrap;
    height: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

}
