@import './variables';

.flip-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;

}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 534px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  
  border-radius: 5px;
  box-sizing: border-box;

}

/* This container is needed to position the front and back side */
.flip-card-inner {
  // position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: visible;
  padding: 20px;

}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #343434;
  color: white;
  filter: drop-shadow(rgba(0,0,0,.2) 0 .125rem .625rem);
  border-radius: 5px;
  border-bottom: 3px solid #EC407A;
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  justify-content: space-between;
  img {
    width: 200px;
    margin: 0;
    border-radius: 5px;
    align-self: flex-end;
  }
  p {
    text-align: left;
    word-wrap: break-word;
  }
}

/* Style the back side */
.flip-card-back {
  background-color: #343434;
  color: white;
  filter: drop-shadow(rgba(0,0,0,.2) 0 .125rem .625rem);
  border-radius: 5px;
  transform: rotateY(180deg);
  border-bottom: 3px solid #4DB6AC;
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  justify-content: space-between;
  img {
    width: 200px;
    margin: 0;
    border-radius: 5px;
    align-self: flex-start;
  }
  p {
    text-align: left;
    word-wrap: break-word;
  }
}

.flip {
  transform: rotateY(180deg);

}

.move-left-front {
  animation: bouncing 2s cubic-bezier(0.1,0.25,0.1,1) 0s 1 both;
  // background: transparent;
  transition: border-width 0px;
  color:transparent;
}

.move-left-back {
  animation: bouncing 2s cubic-bezier(0.1,0.25,0.1,1) 0s 1 both;
  // background: transparent;
  color:transparent;
}

.move-right-front {
  animation: bouncing 2s cubic-bezier(0.1,0.25,0.1,1) 0s 1 both;
  // background: transparent;
  color:transparent;

}

.move-right-back {
  animation: bouncing 2s cubic-bezier(0.1,0.25,0.1,1) 0s 1 both;
  // background: transparent;
  color:transparent;
}

.flashcard-show-dashboard-display-controls {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
  button {
    width: auto;
    &:hover {
      background-color: transparent;
      color: $font-hover;
    }
    
  }
  span {
    width: auto;
  }
}


//images

.flip-card-front-image {
  width: 200px;
  margin: auto;
  border-radius: 5px;
  
}