@import './variables';

body {
    font-family: 'Cabin', sans-serif;
    color: $font-dark;
    background-color: #f0f0f0;
  }

  .fa, .fab, .fad, .fal, .far, .fas {
    display: inline !important;
    width: auto;
    &:hover {
      cursor: pointer;
    }
  }
  
  a {
    cursor:pointer;
  }

.site-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    font-family: $website-font;
    color: $font-dark;
    height: 100%;
}

.site-container {
    width: 100%;
    max-width: 81.25em;
    position: relative;
    height: 100%;
    
}


.button-default {
  color: white;
  background-color: $button;
}

.button-default:hover {
  color: $font-dark;
  background: linear-gradient(170deg, #abf9f3, #fb9ef7);
  background-size: 400% 400%;

  -webkit-animation: colormation 1s ease infinite;
  -moz-animation: colormation 1s ease infinite;
  -o-animation: colormation 1s ease infinite;
  animation: colormation 1s ease infinite;
}

.url-default {
  color: $button;
  background-color: white;
}

.url-default:hover {
  color: $button-hover;
  background-color: white;
}

.header-wrapper {
  width: 100%;
  background-color: $header-color;
  display: flex;
  justify-content: center;
  height: 5rem;
  header {
    max-width: 81.25em;
  }
}

