@import './variables';

body {
    font-family: 'Cabin', sans-serif;
    color: $font-dark;
  }

  .fa, .fab, .fad, .fal, .far, .fas {
    display: inline !important;
  }
  
  a {
    cursor:pointer;
  }

.site-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #4257b2;
    color: #fff;
    height: 5rem;
    font-family: $website-font;
    color: $font-dark;
}

.site-container {
    width: 100%;
    max-width: 81.25em;
    position: relative;
}