@import './variables';

/* List animations here */
@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes my-move {
    0%   {top: 0%; opacity: 0;}
    100% {top: 47%; opacity: 1;}
}