@import './variables';

/* List animations here */
@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes my-move {
    0%   {top: 0%; opacity: 0;}
    100% {top: 50%; opacity: 1;}
}

@keyframes twist {
    0% {
        transform: rotateX(90deg) translateZ(1em)
    }
    100% {
        transform: rotateX(0deg) translateZ(1em)
    }
}

@keyframes twist-hover {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes colormation {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes colormation {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes colormation {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes colormation {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

@keyframes flipping {
    0% {
        transform: rotateY(200deg);
    }
}

@keyframes bouncing{
    0%  { bottom: 0; opacity: 1}
    100%{ bottom: 100px; opacity: 0}
  }


  //working
  @keyframes jump-left-front{
    0%  { 
        // right: 0;  
        opacity: 1;
        border-bottom: 0px;
        z-index: 1;
        
    
    }
    50% {
        // opacity: 0;
        
        // right: 50px;
        
    }
    100%{ 
        opacity: 0;
        z-index: -1;
        // right: 50px;  
        // opacity: 0;
        // transform: scale(0.5);
        // transform: scale(0.7) rotateZ(180deg);
        // transform: rotate(25deg);
    }
  }





  @keyframes jump-left-back{
    0%  { 
        right: 0;  
        opacity: 1;
        
    
    }
    100%{ 
        right: 50px;  
        opacity: 0;
        transform: rotateX(180deg) translateX(-50px) scale(0.9); 
    }
  }
  




    //working
  @keyframes jump-right-front{
    0%  { 
        left: 0; 
        opacity: 1;
    }
    100%{ 
        left: 50px;  
        opacity: 0;
        transform: rotateX(180deg) translateX(50px) scale(0.9); 
    }
  }






  @keyframes jump-right-back{
    0%  { 
        left: 0; 
        opacity: 1;
    }
    100%{ 
        left: 50px;  
        opacity: 0;
        transform: rotateX(180deg) translateX(50px) scale(0.9); 
    }
  }

//   box-shadow: 0 0 5px rgba(0,0,0,0.5);
// box-shadow: 0 50px 50px rgba(0,0,0,0.1);

//   box-shadow: 0 0 5px rgba(0,0,0,0.5); 
// box-shadow: 0 50px 50px rgba(0,0,0,0.1);