$button-hover: rgb(255,191,0);
$button: #676862;
$font-dark: rgb(69, 83, 88);
$placeholder: rgb(187, 190, 190);
$font-label: #97a5aa;
$social-media-border: #dcdddf;
$button-border: #455358;
$font-hover: #ac5b7c;
$website-font: 'Cabin', sans-serif;
$site-height: 92.5vh;
$header-color: #323232;


//buttons 
//header color 


//pink button hover: #CE9DD9;
//old button color: rgb(60, 207, 207);

//old header color #4257b2;
// old hover rgb(255,191,0);
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
    color: rgb(187, 190, 190);
    font-size: 18px;
    // padding-bottom: 80rem;
    // padding-left: 10px;
  }

  button:hover {
    // background: linear-gradient(170deg, #abf9f3, #fb9ef7);
    // background-size: 400% 400%;
  
    // -webkit-animation: colormation 1s ease infinite;
    // -moz-animation: colormation 1s ease infinite;
    // -o-animation: colormation 1s ease infinite;
    // animation: colormation 1s ease infinite;
    //   color: $font-dark;
    // background-color: $button-hover;
  }

