$button-hover: rgb(255,191,0);
$button: rgb(60, 207, 207);
$font-dark: rgb(69, 83, 88);
$placeholder: rgb(187, 190, 190);
$font-label: #97a5aa;
$social-media-border: #dcdddf;
$button-border: #455358;
$font-hover: lightgray;
$website-font: 'Cabin', sans-serif;
$site-height: 92.5vh;
$header-color: #4257b2;

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
    color: rgb(187, 190, 190);
    font-size: 18px;
    // padding-bottom: 80rem;
    // padding-left: 10px;
  }

  button:hover {
      background-color: $button-hover;
      color: $font-dark;
  }

